<!DOCTYPE html>
<head>
  <title>MakersBNB index</title>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
<html>
<body>  
  <main>
    <div class="logged_in">
      <% if session[:user_id] %> 
        <div class="logout">
          <a href="/logout" class="logout_button">Log out</a>
        </div>
      </end>
      <h1>MakersBNB</h1>
      <h2>Welcome <%=@logged_in_user.first_name%> <%=@logged_in_user.last_name%>!</h2>
      <div class="list_space">
        <a href="/space/new" class="list_button">List a Space</a>
        <a href="/requests" class="list_button">Your Requests</a>
      </div>
      <h3>Book a space</h3>
      <div class="spaces_list">
        <% @spaces.each do |space| %>
          <%if session[:user_id] != space.host_id %>
            <div class="space_card_logged_in">
              <p class="title"><%= space.title %></p>
              <p><%= space.description %></p>
              <br>
              <p class="price"><%= space.price_per_night%> per night</p>
              <a href="/<%="#{space.space_id}"%>" class="book_now_button">Find out more</a>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
    <div class="logged_out">
      <h1>MakersBNB</h1>
      <h2>Welcome!</h2>
      <h4>To book a space just sign up or login:</h4>
      <div class="list_space">
        <a href="/signup" class="list_button">Sign up</a>
        <a href="/login" class="list_button">Login</a>
      </div>
      <br>
      <br>
      <div class="spaces_list">
        <% @spaces.each do |space| %>
          <div class="space_card">
            <p class="title"><%= space.title %></a></p>
            <p><%= space.description %></p>
            <br>
            <p class="price"><%= space.price_per_night%> per night</p>
            <br>
          </div>
        <% end %>
      </div>
      </div>
    <% end %>
  </main>
</body>
</html>
