<!DOCTYPE html>
<html lang="en">
<head>
  <title>MakersBNB individual space</title>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
<html>
<body>
  <main>
    <% if session[:user_id] %> 
      <div class="logout">
        <a href="/logout" class="logout_button">Log out</a>
      </div>
    <%end%>
    <h1>MakersBNB</h1>
    <br>
    <div class-"space_info">
      <p class="title"><%=@space.title%></p>
      <hr>
      <p class="user">The host of this space is: <%=@host_name%></p>
      <p class="description"><%=@space.description%></p>
      <p class="price"><%=@space.price_per_night%> per night</p>
    </div>
    <br>
    <%if !session[:user_id].nil? && session[:user_id] != @space.host_id %>
      <% session[:space] = @space %>
      <h4>Choose the dates of your stay:</h4>
      <%if !@error.nil?%>
      <div class="alert">
        <span><%=@error%></span>
      </div>
        <br>
      <%end%>
      <form action="/request/?" method="POST" class="signup">
        <input type="hidden" name="host_id" value="<%=@space.host_id%>"/>
        <input type="hidden" name="guest_id" value="<%=session[:user_id]%>"/>
        <input type="hidden" name="space_id" value="<%=@space.space_id%>"/>
        <label>From:</label>
        <input type="date" min=<%=@space.available_from%> name="available_from" required/>
        <label>To:</label>
        <input type="date" max=<%=@space.available_to%> name="available_to" required/>
        <input type="submit" class="submit_button" value="Request to Book!"/>
      </form>
    <%end%>
    <div class="index">
      <a href="/" class="index_button">Go back to homepage</a>
    </div>
  </main>
</body>
</html>
